In [183]:
import pandas as pd
diabetes=pd.read_csv("diabetes.csv")

In [184]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [185]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [186]:
diabetes.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [187]:
#dropping pregnancies & outcome before converting zeros to NaN
#pregnancy column dropped because filling in with median value doesn't make sense 
diabetes_num= diabetes.drop(['Pregnancies', 'Outcome'], axis=1)

In [188]:
import numpy as np
diabetes_num.replace(0, np.nan, inplace=True)

In [189]:
#replacing NaN values with the median of each column
diabetes_num = diabetes_num.fillna(diabetes.median())

In [190]:
diabetes_num.describe()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,121.656250,72.386719,27.334635,94.652344,32.450911,0.471876,33.240885
std,30.438286,12.096642,9.229014,105.547598,6.875366,0.331329,11.760232
min,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000
25%,99.750000,64.000000,23.000000,30.500000,27.500000,0.243750,24.000000
50%,117.000000,72.000000,23.000000,31.250000,32.000000,0.372500,29.000000
75%,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [191]:
#standardizing the data

In [192]:
import sklearn
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
diabetes_tr= scaler.fit_transform(diabetes_num)

In [193]:
diabetes_tr_df= pd.DataFrame(diabetes_tr, columns= diabetes_num.columns, index= diabetes_num.index)
diabetes_tr_df.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.866045,-0.031990,0.831114,-0.608201,0.167240,0.468492,1.425995
1,-1.205066,-0.528319,0.180566,-0.608201,-0.851551,-0.365061,-0.190672
2,2.016662,-0.693761,-0.469981,-0.608201,-1.331838,0.604397,-0.105584
3,-1.073567,-0.528319,-0.469981,-0.006185,-0.633239,-0.920763,-1.041549
4,0.504422,-2.679076,0.831114,0.695378,1.549885,5.484909,-0.020496

In [194]:
X=diabetes_num
X=X.values
y=diabetes["Outcome"]
y=y.values

In [195]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=12345)
from sklearn.neighbors import KNeighborsClassifier
knn_model=KNeighborsClassifier(n_neighbors=3)
knn_model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [196]:
from sklearn.metrics import mean_squared_error
from math import sqrt
train_preds=knn_model.predict(X_train)
mse=mean_squared_error(y_train,train_preds)
rmse=sqrt(mse)
print("Error rate on training data :",rmse)

Error rate on training data : 0.3849785306421315

In [197]:
test_preds=knn_model.predict(X_test)
mse=mean_squared_error(y_test,test_preds)
rmse=sqrt(mse)
print("Error rate on testing data :",rmse)

Error rate on testing data : 0.4767312946227962