In [1]:
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [4]:
import pandas as pd

In [8]:
nyc= pd.read_csv('/ave_hi_nyc_jan_1895-2018.csv')

In [9]:
nyc.head

<bound method NDFrame.head of        Date  Value  Anomaly
0    189501   34.2     -3.2
1    189601   34.7     -2.7
2    189701   35.5     -1.9
3    189801   39.6      2.2
4    189901   36.4     -1.0
..      ...    ...      ...
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

[124 rows x 3 columns]>

In [10]:
nyc.tail

<bound method NDFrame.tail of        Date  Value  Anomaly
0    189501   34.2     -3.2
1    189601   34.7     -2.7
2    189701   35.5     -1.9
3    189801   39.6      2.2
4    189901   36.4     -1.0
..      ...    ...      ...
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

[124 rows x 3 columns]>

In [11]:
nyc.sample

<bound method NDFrame.sample of        Date  Value  Anomaly
0    189501   34.2     -3.2
1    189601   34.7     -2.7
2    189701   35.5     -1.9
3    189801   39.6      2.2
4    189901   36.4     -1.0
..      ...    ...      ...
119  201401   35.5     -1.9
120  201501   36.1     -1.3
121  201601   40.8      3.4
122  201701   42.8      5.4
123  201801   38.7      1.3

[124 rows x 3 columns]>

In [12]:
nyc.describe()

                Date       Value     Anomaly
count     124.000000  124.000000  124.000000
mean   195651.000000   37.595161    0.195161
std      3593.976442    4.539848    4.539848
min    189501.000000   26.100000  -11.300000
25%    192576.000000   34.575000   -2.825000
50%    195651.000000   37.600000    0.200000
75%    198726.000000   40.600000    3.200000
max    201801.000000   47.600000   10.200000

In [13]:
nyc.columns=['Date', 'Temperature', 'Anomaly']

In [14]:
nyc.head()

     Date  Temperature  Anomaly
0  189501         34.2     -3.2
1  189601         34.7     -2.7
2  189701         35.5     -1.9
3  189801         39.6      2.2
4  189901         36.4     -1.0

In [17]:
nyc.Date=nyc.Date.floordiv(100)

In [18]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test= train_test_split(nyc.Date.values.reshape(-1,1), nyc.Temperature.values, random_state=11)

In [24]:
X_train.shape

(93, 1)

In [25]:
X_test.shape

(31, 1)

In [26]:
from sklearn.linear_model import LinearRegression

In [29]:
linear_regression= LinearRegression()

In [30]:
linear_regression

LinearRegression()

In [31]:
linear_regression.fit(X=X_train, y=y_train)

LinearRegression()

In [32]:
linear_regression.coef_

array([0.01939167])

In [33]:
linear_regression.intercept_

-0.30779820252656265

In [34]:
y_test= linear_regression.coef_*X_test + linear_regression.intercept_

In [35]:
(0.01939167*1895)-0.30779820252656265

36.439416447473434

In [36]:
(0.01939167*2070)-0.30779820252656265

39.83295869747344